/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 200vh;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: rgb(170, 173, 179);
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-image: linear-gradient(to right, rgb(0, 110, 255), rgb(5, 49, 70));
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}

.conteudo {
  box-shadow: 4px 7px 15px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.comentarios {
  box-shadow: 4px 7px 15px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.comentario {
  box-shadow: 4px 7px 15px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.nome-usuario {
  color: rgb(13, 75, 133);
  text-shadow: 1px 1px 3px rgb(6, 56, 85);
}
.gray {
  color: rgb(182, 182, 182);
}
.jumbotron {
  background-color: rgb(7, 61, 82);
  font-family: "Jost", sans-serif;
}
.blue {
  color: rgb(16, 35, 70);
}
.linha-light {
  border: 10px solid rgb(185, 185, 185);
  border-radius: 4px;
}
.linha-dark {
  border: 1px solid rgb(22, 22, 22);
  border-radius: 4px;
}
